<!doctype html>

<head>
  <meta charset="utf-8">

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Playing</title>
  <link rel="stylesheet" type="text/css" media="screen" href="../css/main.css">  
  <link rel="stylesheet" type="text/css" media="screen" href="../css/game.css">
  <link rel="stylesheet" type="text/css" media="screen" href="../css/animacion-plato.css">
  <script src="../js/jquery-3.3.1.min.js"></script>
  <script src="../js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
  <script src="../js/main.js"></script>
  <script src="../js/gifler.min.js"></script>
</head>

<body>

  <div id="tiempos" style="display: none;">
    <%=tiempos%>
  </div>
 

  <div class="container">

    <audio id="player" src="../media/countdown.mp3" type="audio/mpeg" autoplay preload="auto"></audio>
    <audio id="myAudio" src="../media/<%=song.Cancion%>" type="audio/mpeg"></audio>

    
    <div id="bg-player1">
       
      <div id="info">
        <div id="control"> </div>
        <div class="cronometro">
          <div id="hms"></div>
        </div>
        <div id="pin"></div>
        <div id="puntos">
          <div id = "puntos-p1"></div>
          <div id = "racha-p1"></div>
          <div id= "Contador"></div>
        </div>
        <canvas id="gifCanvas1"></canvas>
      </div>
      <canvas id="bg_canvas_1"></canvas>
       
      <canvas id="canvas-1"></canvas>
      <!--  Aqui vamos a poner los divs de las animaciones-->
      <!--<div id="gordo">
        <div id="outer-circle">
          <div id="inner-circle">
            <div id="center-circle">
              <div id="content"></div>
            </div>
          </div>
        </div>
  
      </div>-->
      <div class="animation">
      <div class="format-animation" id="six">6</div>
      <div class="format-animation" id="five" style="display: none">5</div>
      <div class="format-animation" id="four">4</div>
      <div class="format-animation" id="three" style="display: none">3</div>
      <div class="format-animation" id="two">2</div>
      <div class="format-animation" id="one" style="display: none">1</div>
    </div>
      <!--  Aqui terminan los divs-->

    </div>

    <div id="bg-player2" style="visibility: hidden;">
      <div id="info">
        <div id="puntos2">
          <div id = "puntos-p2"></div>
          <div id = "racha-p2"></div>
          <div id= "Contador"></div>
        </div>
        <canvas id="gifCanvas2"></canvas>
      </div>
      <canvas id="bg_canvas_2"></canvas>
      <canvas id="canvas-2"></canvas>
    </div>

    <form name="submitScore" action="/score" method="post">
      <input type="hidden" name="idcancion" value="<%= song._id %>">
      <input type="hidden" name="iddificultad" value="<%= difid %>">
      <input type="hidden" id="usePoints" name="points" value=''>
      <input type="hidden" name="user" value="<%=userid%>">
      <input type="hidden" name="nick" value="<%=nick%>">
      <input type="hidden" name="img" value="<%=userImg%>">
      <input type="hidden" name="imagen" value="<%=song.Imagen%>"">
    </form>
    
  </div>
</body>

</html>