<!DOCTYPE html>
<html>

<head lang="es-ES">
    <meta charset="utf-8" />
    <title>
        <%= user.name %> - PekoPekoNoNeko</title>
    <link rel="stylesheet" type="text/css" media="screen" href="../css/sesion.css" />
</head>

<body>
    <div class="contenedor">
        <div class="header">
            <div class="titulo">
                <h1>PekoPekoNoNeko</h1>
            </div>
            <div class="nav">
                <div class="enlaces"> 
                    <div class="enlace perfil"> <a href="/users/sesion"> Perfil </a> </div>
                    <div class="enlace desconectar"> <a href="/users/logout"> Desconectar </a> </div>
                </div>
                <div class="user_icon">
                     <% if(user.image){ %>
                    <img class="icon" src="/users/image/<%= user.id %>">
                    <% } else { %>
                    <img class="icon" src="/users/no_profile_pic">
                     <% } %>
                 </div>
            </div>
        </div>
        <div class="body">

            <div class="contenedor_ventana">

                <div class="titulo_ventana">
                    <h2>Tu perfil</h2>
                </div>

                <div class="contenedor_datos">
                    <div class="imagen_usuario">
                        <% if(user.image){ %>
                        <img src="/users/imagen/<%= user.id_user %>">
                        <% } else { %>
                        <img src="/users/no_profile_pic">
                        <% } %>
                    </div>
                    <div class="datos">
                        <div class="datos">
                            <div class="elem nombre_usuario">
                                <h3>
                                    <%= user.name %>
                                </h3>
                            </div>
                            <div class="elem nickname_usuario">
                                <h4>
                                    <%= user.nickname %> </h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</body>

</html>